.wrap {
  max-width: 640px;
  margin: 0 auto;
}

.line_h_2 {
  line-height: 1.2;
}

.max_w_288 {
  max-width: 288px;
}

.me-20 {
  margin-right: 20px;
}

.py_48 {
  padding-top: 48px;
  padding-bottom: 48px;
}